<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Programming Languages</h2>
    <p>I primarily develop with <b>C#</b> in my day job, so I'm most comfortable developing with it.</p>
    <p>I've also used <b>Java</b> and <b>JavaScript</b> (and some <b>TypeScript</b>) to a good degree (acedemics, side projects, etc.).</p>
    <p>I have some experience with <b>Python</b>, <b>Go</b> and <b>Kotlin</b>, and I'm always trying to learn more programming languages!</p>
  </div>
  <div class="tech"> 
    <h2>Technologies/Topics/Concepts</h2>
    <p>Just an assortment of technolgies/topics/concepts I'm currently interested in:
      <p>Event Sourcing and CQRS</p>
      <p><a href="https://www.rabbitmq.com/">RabbitMQ</a></p>
      <p><a href="https://www.docker.com/">Docker</a></p>
    </p>
  </div>
</div>
